<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Animal REST list</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" crossorigin="anonymous"/>
        <script th:src="@{/restFunctions.js}"></script>
        <style>
            table, th, td
            {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <button type="button" onclick="getAnimalList();">Load list</button>
        <div id="result"></div>
        <button type="button" onclick="createAnimal();">New animal</button>
        <br/>
        <a th:href="@{/animals}">Go back</a>
    </body>
</html>
