<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Animal list</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" crossorigin="anonymous"/>
    </head>
    <body>
        <h1>Animal list</h1>
        <h2 th:text="'Number of database operations performed in this session: ' + ${counterValue}"></h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Species</th>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Age (years)</th>
                    <th>Weight (kg)</th>
                    <th>Diet</th>
                    <th sec:authorize="hasRole('ADMIN')">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="animal : ${animals}">
                    <td th:text="${animal.id}"></td>
                    <td th:text="${animal.species}"></td>
                    <td th:text="${animal.name}"></td>
                    <td th:text="${animal.sex}"></td>
                    <td th:text="${animal.age}"></td>
                    <td th:text="${animal.weight}"></td>
                    <td th:text="${animal.diet}"></td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <!--<a th:href="@{/showAddAnimalForm}" class="btn btn-primary">
                            <i class="fas fa-user-plus ml-1"></i>
                        </a>-->
                        <a th:href="@{/showEditAnimalForm/{id} (id=${animal.id})}" class="btn btn-primary">
                            <i class="fas fa-user-edit ml-1"></i>
                        </a>
                        <a th:href="@{/deleteAnimal/{id} (id=${animal.id})}" class="btn btn-primary">
                            <i class="fas fa-user-times ml-1"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/showAddAnimalForm}" class="btn btn-primary">
            <i class="fas fa-user-plus ml-1"></i>
        </a>
        <br/><br/>
        <div>
            <a th:href="@{/animals/json}">Show as JSON</a>
            <br/>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/animals/rest}">Show REST table</a>
        </div>
        <br/>
        <div>
            <h1>Diet statistics</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Diet</th>
                        <th>Animal count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="animalDietStat : ${animalsDietStats}">
                        <td th:text="${animalDietStat.animalDiet}"></td>
                        <td th:text="${animalDietStat.dietCount}"></td>
                    </tr>
                </tbody>
            </table>    
        </div>
        <br/>
        <a th:href="@{/}">Go back</a>
    </body>
</html>
